{% extends "base_generic.html" %}

{% block content %}
  <h1>{{ roche.title }}</h1>
  <div>{{ roche.description }}</div>
  <div>
    {{ roche.condition_count }} 
    {% if roche.condition == "loss" %}
    loss{{ roche.condition_count|pluralize:"es" }}
    {% else %}
    win{{ roche.condition_count|pluralize }}
    {% endif %}
  </div>
  <div>Status: {{ roche.get_status_display }}</div>
  {% if roche.fulfilled_at %}
  <div>Fulfilled on {{ roche.fulfilled_at }} by {{ roche.performer.user.first_name }}</div>
  {% endif %}
  {% if roche.get_latest_round.number %}
  <div>Round: {{ roche.get_latest_round.number }}</div>
  {% endif %}
  {% if request.user.is_authenticated %}
    {% if show_join %}
    <a href="{% url 'join' roche.id %}">Join</a>
    {% elif show_accept %}
    <a href="{% url 'accept' roche.id %}">Accept</a>
    {% elif show_finalize %}
    <a href="{% url 'finalize' roche.id %}">Finalize</a>
    {% endif %}
    {% if show_delete %}
    <a href="{% url 'delete' roche.id %}">Delete</a>
    {% endif %}
    {% if show_fulfill %}
    <a href="{% url 'fulfill' roche.id %}">Fulfill</a>
    {% endif %}
  {% endif %}
  <h2>In</h2>
  <hr/>
  <ul>
    {% for j in joined %}
    <li>
      <a href="{% url 'profile' j.profile.user.username %}">{{ j.profile.user.first_name }}</a>
      {% if j.profile.user.id == user.id %}
      - you're in!
      {% endif %}
    </li>
    {% endfor %}
    {% for r in remaining %}
    <li>
      <a href="{% url 'profile' r.profile.user.username %}">{{ r.profile.user.first_name }}</a>
      {% if r.profile.user.id == user.id %}
        {% if r.throw  %}
        - <strong>{{ r.get_throw_display }}</strong>
        {% else %}
        <ul>
          <li><a href="{% url 'throw' roche.id 'rock' %}">Rock</a></li>
          <li><a href="{% url 'throw' roche.id 'paper' %}">Paper</a></li>
          <li><a href="{% url 'throw' roche.id 'scissors' %}">Scissors</a></li>
        </ul>
        {% endif %}
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  <h2>Out</h2>
  <hr/>
  <ul>
    {% for d in declined %}
    <li>
      <a href="{% url 'profile' d.profile.user.username %}">{{ d.profile.user.first_name }}</a>
    </li>
    {% endfor %}
    {% for e in eliminated %}
    <li>
      <a href="{% url 'profile' e.profile.user.username %}">{{ e.profile.user.first_name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% if invited.count > 0 %}
  <h2>Invited</h2>
  <hr/>
  <ul>
    {% for i in invited %}
    <li>
      <a href="{% url 'profile' i.profile.user.username %}">{{ i.profile.user.first_name }}</a>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{% endblock %}
